@import "tailwindcss";


:root{
    --main-green-color: #25D366;
}

html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    background-color: white;
}

body{
    font-family: "Poppins", sans-serif;
}

/* Completely hide native scrollbars */
::-webkit-scrollbar { display: none; }
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
